nav {
    width: 100%;
}
.img {
    text-align: -webkit-center;
    padding: 100px;
    
}
#searchbar {
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    margin-top: 20px;
    opacity: 0.5;
}
.searchbutton {
    display: inline;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
footer {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    margin-left: -8px;
    opacity: 0.75;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  li {
      float: left;
  }
  li a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      padding: 15px;

  }
  body{
      background: #fff;
      font-family: arial, sans-serif;
  }
  .opacity {
      opacity: 0.75;
  }
 .header {
     display: flex;
     justify-content: flex-end;
     color: #000;
     
     font-size: 13px;
 }
  .footer {
      display: flex;
      justify-content: flex-end;
      padding-right: 5px;
      margin-left: 600px;
  }
  #topright {
      background-color: #4285f4;
      color: white;
      font-weight: bold;
      border: 1px solid #4285f4;
      border-width: 0px;
      line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
  }
  .headerleft { 
      display: inline-block;
      color: #000;
      opacity: 0.75;
      font-size: 13px;

  }
  .input-icons i { 
      position: absolute;
  }
  .input-icons {
      width: 100%;
      margin-bottom: 10px;
  }
  .iconsearch {
      padding: 8px;
      min-width: 40px;
      margin-top: 19px;
  }